<div class="wrapper">
  <div class="left-container">
    <%= render 'cards/team-card' %>
  </div>
  <div class="center-container">
    <div class="card-form-white">
      <div class="title-card text-center">
        <h6 class="uppercase">éditer <%= current_user.members.first.team.name %></h6>
      </div>
      <br>
      <br>
      <%= render 'form' %>
    </div>
  </div>
  <div class="right-container">
  </div>
</div>
