<div class="wrapper">
  <div class="left-container">
    <%= render "/cards/profile-card" %>
    <br>
    <%= render "/cards/infos-card" %>
  </div>
  <div class="center-container">
    <% @teams.each do |team| %>
      <%= render 'cards/team-card-large', team: team %>
      <br>
    <% end %>
  </div>
  <div class="right-container">
    <div class="card text-center">
      <div class="title-card">
        <h6 class="uppercase">réseau</h6>
      </div>
      <br>
      <br>
    </div>
  </div>
</div>
