<div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="card">
            <h3 class= "text-center">Nouvelle équipe</h3>
            <br>
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
