/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Montserrat:400,700");
$base-font: "Avenir Next", "Open Sans", "sans-serif";
$header-font: "Montserrat", "sans-serif";

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-weight: 300;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
 // Scheme
 $red: #DA4F46;
 $blue: #39A4F0;
 $blue-dark: #333C50;
 $blue-grey: #8391B1;
 $yellow: #FDB631;
 $orange: #E67E22;
 $green: #54BA52;
 $purple: #6452BD;
 $white-light: #F5F5F5;

 // Gray scale
 $grey-darker: #464646;
 $grey-dark: #7D7D7D;
 $grey: #EBEBEB;
 $grey-light: #F4F4F4;
 $grey-lighter: #F9F9F9;
 $grey-shadow: #C8C8C8;
