/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .home-wrapper {
 	width: 100%;
 	margin: 0px auto;
 	padding: 0px 80px 60px 80px;
 	display: flex;
 	flex-wrap: wrap;
   justify-content: center;
 }
 .home-left-container {
 	display: flex;
 	flex-direction: column;
 	margin: 0px auto;
   width: 27%;
 }
 .home-center-container {
 	display: flex;
 	flex-direction: column;
 	margin: 0px auto;
   width: 46%;
 }
 .home-right-container {
 	display: flex;
 	flex-direction: column;
 	margin: 0px auto;
   width: 27%;
 }

 // Media-queries
 @media only screen and (max-width: 991px){
   .home-wrapper {
   	width: 80%;
    padding: 0px 50px 60px 50px;
   }
 	.home-left-container {
     width: 45%;
   }
 	.home-center-container {
     width: 55%;
   }
  .home-right-container {
    display: none;
   }
 }
 @media only screen and (max-width: 768px){
   .home-wrapper {
   	width: 80%;
   }
 	.home-center-container {
     width: 80%;
   }
   .home-left-container {
     display: none;
   }
   .home-right-container {
     display: none;
   }
 }
 @media only screen and (max-width: 575px){
   .home-wrapper {
   	width: 100%;
    padding: 0px 20px 60px 20px;
   }
   .home-center-container {
      width: 100%;
    }
    .home-left-container {
      display: none;
    }
    .home-right-container {
      display: none;
    }
 }
