.search-wrapper {
 width: 100%;
 margin: 0px auto;
 padding: 0px 80px 60px 80px;
 display: flex;
 flex-wrap: wrap;
  justify-content: center;
}
.search-left-container {
 display: flex;
 flex-direction: column;
 margin: 0px auto;
  width: 27%;
}
.search-center-container {
 display: flex;
 flex-direction: column;
 margin: 0px auto;
  width: 46%;
}
.search-right-container {
 display: flex;
 flex-direction: column;
 margin: 0px auto;
  width: 27%;
}

// Media-queries
@media only screen and (max-width: 991px){
 .search-left-container {
    display: none;
  }
 .search-center-container {
    width: 65%;
  }
 .search-right-container {
   width: 35%;
  }
}
@media only screen and (max-width: 768px){
  .search-center-container {
     width: 65%;
   }
  .search-right-container {
    width: 35%;
   }
  .search-left-container {
    display: none;
   }
  .search-wrapper {
 	  width: 100%;
 	  padding: 0px 20px 60px 20px;
  }
}
@media only screen and (max-width: 575px){
  .search-center-container {
    width: 95%;
  }
  .search-left-container {
    display: none;
  }
  .search-right-container {
    display: none;
  }
  .search-wrapper {
 	  width: 100%;
 	  padding: 0px 20px 60px 20px;
  }
}
