<h3>Bonjour <%= @invitation.first_name %>!</h3>

<p><%= @invitation.user.first_name %> vous invite a rejoindre son équipe  <%= @invitation.user.teams.first.name %> sur Befive</p>

<p><%= link_to "Voir mon équipe #{@invitation.user.teams.first.name}", teams_url %></p>

<p>Befive est un outil de gestion d'équipe gratuit qui permet aux joueurs de Foot 5 d'organiser simplement tous leurs matchs et de communiquer facilement entre eux...  </p>
