<div class="navbar-transparent navbar-fixed ">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-transparent-brand" do %>
    <%= image_tag "logo-befive.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-transparent-right hidden-xs hidden-sm">

    <!-- Text link -->
    <%= link_to "#", class: "navbar-transparent-item navbar-transparent-link" do %>
      Blog
    <% end %>

    <!-- Login text link -->
    <%= link_to t(".sign_in", default: "Connexion"), new_user_session_path, class: "btn btn-primary navbar-transparent-item" %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-transparent-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-transparent-dropdown-menu">
        <li><a href="#">Connexion</a></li>
        <li><a href="#">Inscription</a></li>
      </ul>
    </div>
  </div>
</div>
