<div class="new-event-wrapper">
  <div class="new-event-left-container">
    <%= render 'cards/profile-card' %>
  </div>
  <div class="new-event-center-container">
    <div class="card-form-white">
      <div class="title-card text-center">
        <h6 class="uppercase">nouvel évenement</h6>
      </div>
      <br>
      <br>
      <%= render 'form' %>
    </div>
  </div>
  <div class="new-event-right-container">
  </div>
</div>
