<div class="show-event-wrapper">
  <div class="show-event-left-container">
    <%= render 'events/event-card' %>
  </div>
  <div class="show-event-right-container">
    <%= render 'cards/team-card' %>
  </div>
</div>
