<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= image_path "background.png" %>);">
  <div class="banner-content">
    <h1>Gérez facilement votre équipe de Foot 5</h1>
    <p>Fini la perte de temps, organisez vos matchs en <span>2min</span></p>
    <p>Gérer un groupe et réunir des joueurs deviens <span>un jeu d’enfant !</span></p>
    <br>
    <%= link_to t(".sign_up", default: "Inscription"), new_user_registration_path, class: "btn btn-lg btn-success" %>
  </div>
</div>
