<h3>Félicitations <%= @team.user.first_name %></h3>

<p> Tu viens de créer ta nouvelle équipe <%= @team.name %> !</p>
<p> N'oublie d'inviter les membres de ton équipe et de créer un nouvel évenement</p>
