<div class="card">
  <div class="title-card text-center">
    <h6>INFOS</h6>
  </div>
  <br>
  <br>
  <% if current_user.birthdate %>
    <p class="blue-dark text-small">Année : <span class="grey-dark text-small"><%= current_user.birthdate.year %></span></p>
  <% else %>
    <p class="blue-dark text-small">Année : <span class="grey-dark text-small"></span></p>
  <% end %>
  <p class="blue-dark text-small">Matchs joués : <span class="grey-dark text-small icon"> 0 </span> <i class="fa fa-futbol-o blue"></i></p>
  <p class="blue-dark text-small">Homme du match : <span class="grey-dark text-small icon"> 0 </span> <i class="fa fa-male text-large blue"></i></p>
</div>
