<div class="card-image-untitle">
  <%= image_tag "team.png", class: "image-team-untitle"%>
  <div class="logo-inside-untitle">
    <%= image_tag "logo.png", style:"width: 50px" %>
  </div>
  <br>
  <br>
  <div class="text-center">
    <br>
    <%= link_to teams_path, class: "btn btn-primary text-small margin-bottom-s" do %>
      <% if current_user.members.where("pending = ?", true).any? %>
        Voir les équipes <i class="fa fa-share white margin-left"></i>
      <% else %>
        Rejoindre une équipe <i class="fa fa-share white margin-left"></i>
      <% end %>
    <% end %>
    <br>
  </div>
</div>
