<div class="card-image">
  <div class="title-card text-center">
    <h6>MEMBRES</h6>
  </div>
  <br>
  <%= link_to "#", class: "link-unstyled" do %>
    <div class="list-card-m">
      <%= image_tag "user.png", class:"avatar-m float-left" %>
      <span class="blue-dark text-semi-bold text-small">Hedi JABRI <br><span class="grey-dark text-normal"> Défenseur - Organisateur </span></span>
    </div>
  <% end %>
</div>
