<div class="card text-center">
  <div class="title-card">
    <h6>PROCHAIN MATCH</h6>
  </div>
  <br>
  <br>
  <p class="blue-dark text-small"><i class="fa fa-calendar icon blue text-large"></i> Aucun match de planifié</p>
</div>
