<div class="card-image">
  <div class="title-card text-center">
    <h6>MON EQUIPE</h6>
  </div>
  <%= image_tag "team.png", class: "image-team"%>
  <div class="logo-inside">
    <%= image_tag "logo.png", style:"width: 50px" %>
  </div>
  <br>
  <br>
  <div class="text-center">
    <br>
    <p class="blue-dark text-large text-semi-bold">Dream Team</p>
    <p class="grey-dark text-small"><i class="fa fa-map-marker"></i> Paris (75)</p>
  </div>
</div>
