/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  border: 0px;
  border-radius: 0px;
  font-size: 15px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}
.alert-white {
  text-align: center;
  color: white;
  position: absolute;
  top: 70px;
  left: 5%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height:50px;
}
.alert-info-white {
  background: transparent;
}
.alert-warning-white {
  background: transparent;
}
