// Banner Home
.banner {
  color: $white-light;
  text-align: center;
  min-height: 100vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  .banner-content {
    padding: 30px;
  }
  h1 {
    margin: 100px 0 30px 0;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  }
  p {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 300;
  }
  span {
    font-weight: 400;
  }
}

// Media-queries
@media only screen and (max-width: 768px){
  .banner {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 18px;
    }
  }
}
@media only screen and (max-width: 575px){
  .banner {
    h1 {
      font-size: 27px;
      line-height: 34px;
    }
    p {
      font-size: 18px;
    }
  }
}
