// Devise Forms
.card-form {
  background: transparent;
  padding: 10px 100px;
  margin: 140px 50px 40px 50px;
  width: 450px;
  overflow: hidden;
  h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
  }
  p {
    font-weight: 400;
    font-size: 16px;
  }
  label {
    font-weight: 500;
    font-size: 15px;
  }
  input[type="text"], input[type="email"], input[type="password"], textarea {
    height: 35px;
    font-size: 15px;
  }
}
.form-inputs {
  overflow: hidden;
}

// Devise Forms Edit
.card-form-white {
  background-color: white;
  padding: 30px 60px;
  min-height: 120px;
  width: 95%;
  border-radius: 3px;
  margin: 0px auto;
  position: relative;
  border: 1px solid $grey;
  h1, h2, h3, h4, h5, h6 {
    color: $blue-dark
  }
  label {
    font-weight: 500;
    color: $blue-dark;
    font-size: 15px;
  }
  input[type="text"], input[type="email"], input[type="password"], select, textarea {
    height: 30px;
    font-size: 15px;
  }
}

// Media-queries
@media only screen and (max-width: 768px){
  .card-form {
    width: 450px;
    h3 {
      font-size: 20px;
    }
    p {
      font-weight: 400;
      font-size: 15px;
    }
    label {
      font-weight: 500;
      font-size: 14px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea {
      height: 33px;
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 575px){
  .card-form {
    width: 450px;
    margin: 140px 0px 40px 0px;
    padding: 10px 70px;
    h3 {
      font-size: 18px;
    }
    p {
      font-weight: 400;
      font-size: 14px;
    }
    label {
      font-weight: 500;
      font-size: 13px;
    }
    input[type="text"], input[type="email"], input[type="password"], textarea {
      height: 31px;
      font-size: 13px;
    }
  }
}
