// Team Cards
.card-image {
  background-color: white;
  padding: 29px 0px 15px 0px;
  min-height: 120px;
  width: 95%;
  border-radius: 3px;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  border: 1px solid $grey;
  h1, h2, h3, h4, h5, h6 {
    color: $blue-dark
  }
}
.image-team {
  width: 100%;
  height: 180px;
  margin-top: 20px;
  position: relative;
}
.logo-inside {
  background: white;
  padding: 13px;
  width: 76px;
  border-radius: 3px;
  position: absolute;
  top: 188px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

// Team Cards untitle
.card-image-untitle {
  background-color: white;
  padding: 0px 0px 30px 0px;
  min-height: 120px;
  width: 95%;
  border-radius: 3px;
  margin: 0px auto;
  position: relative;
  border: 1px solid $grey;
  h1, h2, h3, h4, h5, h6 {
    color: $blue-dark
  }
}
.image-team-untitle {
  width: 100%;
  height: 180px;
  position: relative;
}
.logo-inside-untitle {
  background: white;
  padding: 13px;
  position: absolute;
  top: 148px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 76px;
  border-radius: 3px;
}
