// Team Cards 2 sides
.card-teams {
  background-color: white;
  height: 270px;
  width: 95%;
  margin: 0 auto;
  border-radius: 3px;
}
.card-team-left {
  background-color: white;
  border: 1px solid $grey;
  height: 270px;
  width: 50%;
  position: relative;
  float: left;
  border-radius: 3px 0 0 3px;
}
.card-team-right {
  background-color: white;
  border: 1px solid $grey;
  height: 270px;
  width: 50%;
  border-radius: 0px 3px 3px 0;
  position: relative;
  float: right;
  padding: 10px 20px;
}
.image-team-s {
  width: 100%;
  height: 160px;
  position: relative;
  border-radius: 3px 0 0 0;
}
.logo-inside-s {
  background: white;
  padding: 11px;
  position: absolute;
  top: 135px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 62px;
  border-radius: 3px;
  img {
    width: 40px;
  }
}
.bottom-card-s {
  width: 100%;
  background: $grey-lighter;
  border-top: solid 1px $grey-light;
  height: 55px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 11px 20px;
  border-radius: 0 0 3px 0;
}
.button-link {
  float: right;
}
.button-action {
  float: left;
}
.button-action-hidden {
  display: none;
}

// Media-queries
@media only screen and (max-width: 1180px){
  .bottom-card-s {
    text-align: center;
  }
  .button-link {
    display: none;
  }
  .button-action {
    margin: 0 auto;
    float: none;
  }
}
@media only screen and (max-width: 768px){
  .card-teams {
    height: 240px;
  }
  .card-team-left {
    height: 240px;
    p {
      font-size: 14px
    }
  }
  .card-team-right {
    height: 240px;
    p {
      font-size: 11px
    }
    span {
      font-size: 11px
    }
  }
  .image-team-s {
    width: 100%;
    height: 140px;
    position: relative;
    border-radius: 3px 0 0 0;
  }
  .logo-inside-s {
    padding: 11px;
    width: 62px;
    top: 118px;
  }
  .info-team {
    margin-top: -8px;
  }
  .button-action {
    margin: 0 auto;
  }
}
@media only screen and (max-width: 575px){
  .card-teams {
    height: 300px;
  }
  .card-team-left {
    height: 300px;
    width: 100%;
  }
  .card-team-right {
    display: none;
  }
  .image-team-s {
    width: 100%;
    height: 160px;
    position: relative;
    border-radius: 3px 0 0 0;
  }
  .logo-inside-s {
    padding: 11px;
    width: 62px;
    top: 118px;
  }
  .info-team {
    margin-top: -8px;
  }
  .button-action-hidden {
    display: block;
  }
}
