.comments {
  background-color: $background;
  padding: 40px;
  min-height: 120px;
  width: 95%;
  border-radius: 0px 0px 3px 3px;
  margin: -2px auto;
  border: 1px solid $grey;
  .comment-username {
    padding: 12px;
  }
  .comment-content {
    padding: 0px 40px 5px 40px;
  }
}
.comment-form {
  input[type="text"], input[type="email"], input[type="password"], textarea {
    height: 65px;
    font-size: 13px;
    font-weight: 300;
  }
}
// Media-queries
@media only screen and (max-width: 575px){
  .comments {
    padding: 30px;
    p {
      font-size: 12px;
    }
    span {
      font-size: 12px;
    }
    .comment-username {
      padding: 8px;
    }
    img {
      width: 35px;
      height: 35px;
    }
    .comment-content {
      padding: 0px 15px 5px 15px;
    }
  }
}
