// Participations
.participations-card {
  background-color: $background;
  padding: 20px 0px 15px 0px;
  min-height: 120px;
  width: 95%;
  border-radius: 0px 0px 3px 3px;
  margin: -2px auto;
  border: 1px solid $grey;
  h1, h2, h3, h4, h5, h6 {
    color: $blue-dark
  }
}
.participations-content-available {
  padding: 10px 10px;
  min-height: 120px;
  margin: 0 auto;
  width: 45%;
}
.participations-content-composition {
  background: white;
  padding: 10px 10px;
  min-height: 120px;
  margin: 0 20px 3px 0px;
  width: 50%;
  border-radius: 3px;
  border: 1px solid $grey;
}
.participations-members {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5px 15px;
}
.participations-members-info {
  flex: 1 1 auto;
  width: 150px;
}
.participations-buttons {
  flex: 1 1 auto;
  width: 70px;
}
.participations-buttons-card {
  width: 63px;
  margin: 0 auto;
  background-color: white;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid $grey;
  .border-right {
    border-right: 1px solid $grey-normal;
    margin: 0 2px;
  }
}
.all-participation-button {
  width: 20px;
  margin-left: 10px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid $grey;
  .border-right {
    border-right: 1px solid $grey-normal;
    margin: 0 2px;
  }
}
// Convocations
.convocations-members-info {
  flex: 1 1 auto;
  width: 240px;
}
.convocations-buttons {
  flex: 1 1 auto;
  width: 30px;
}
.participations-content-waiting-list {
  padding: 10px 10px;
  min-height: 120px;
  margin: 0 20px 0 0px;
  width: 50%;
}
.send-button {
  float: right;
  padding: 6px 0;
}
// Empty Messages
.convocations-empty-message {
  padding: 4px;
}
.waiting-list-empty-message {
  padding: 5px;
}

// Media-queries
@media only screen and (max-width: 991px){
  .participations-content-available {
    width: 65%;
    float: none;
  }
  .participations-content-composition {
    margin: 0 auto;
    width: 65%;
    float: none;
  }
  .participations-content-waiting-list {
    margin: 0 auto;
    width: 65%;
    float: none;
  }
  .send-button {
    float: none;
    text-align: center;
    padding: 6px 0;
  }
}
@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 575px){
  .participations-card {
    h5 {
      font-size: 15px;
    }
    p {
      font-size: 12px;
    }
    img {
      width: 35px;
      height: 35px;
    }
  }
  .participations-content-available {
    width: 95%;
    float: none;
  }
  .participations-content-composition {
    margin: 0 auto;
    width: 95%;
    float: none;
  }
  .participations-content-waiting-list {
    margin: 0 auto;
    width: 95%;
    float: none;
  }
}
